@model Lanche

 <div class="col-sm-4 col-md-4 col-lg-4">
    <p><img src="@Model.ImageBig" class="img-fluid"></p>
    <h3>@Model.price.ToString("c")</h3> 
    <h4>@Model.Name</h4>
    <p>@Model.DescriptionSmall</p>
 </div>