<br />
<div style="">
    <img  src="~/Images/access.jpg" alt="Área de Administração" class="marginTop1" style="width: 150px; height:150px;"/>
     <div class="container">
        <div class="jumbotrom">
            <p>
                <h2>Acesso não autorizado</h2>
            </p>
        </div>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Voltar a Home Page</a>
</div>