<div>
    <img src="~/Images/faleconosco1.jpg" alt="Fale Conosco" />
    <div class="jumbotron">
        <h3> Queremos ouvir o que você tem a dizer</h3>
            <p>
                Se voc~e tem alguma duvida ou sugestão fale conosco
            </p>

            <p>
                <span>
                    <img src="~/Images/Envelope-icon24.png" />
                </span>

                <h5><email endreco="brunovinicius403@gmail.com" conteudo="Enviar um E-mail"></email></h5>
                <br />
                <span>
                    <img src="~/Images/phone-app-icon.png" />
                        <h5>(41) 91234-5678</h5>
                    <br />
                </span>

                <span>
                    <img src="~/Images/Home-iconred.png" />
                </span>
                <h5>Av. Jucelino Kubichek 1000 - 383829 - São Paulo</h5>
            </p>
    </div>
</div>
